<body>

<div class="main">
	<section> You've just made a search from 
		<strong class="search-item"> <%= @origin %> </strong> to <strong class="search-item"> <%= @destination %> </strong> . 
		<br> Please wait as we search for the best matches! 
	</section>
</div>

<!-- Not working properly, TODO: make this focus on different close ups of maps, as well as a list of possible travel options to and from a region -->
</body>