<body>
	
<h1 class="title"> Welcome to Travel Finder! <h1>
	
<%= image_tag("image1.jpg", :alt => "Map of the World", :height => "525", :width => "1029", :class => "main_image animated fadeIn") %>
<!-- Not working properly, TODO: make this focus on different close ups of maps, as well as a list of possible travel options to and from a region -->
</body>